// 初始化代码
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

html,body{
    width:100%;
    height: 100%;
    overflow: hidden;
    margin:0;
    -webkit-font-smoothing:antialiased;
}

.b-cover{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.b-contain{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

// 水平垂直居中
.c{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
}

// 遮罩
.mk{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/**
 * px单位转换到rem单位 仅支持iPhone6下的二倍稿 即750的设计稿
 * 在750设计稿上量的 margin 为 100，那么使用方法如下
 * margin: tr(100);
 * 会被自动转换为rem单位，适配到所有设备
 */
@function tr($px){
    @return $px/200*1rem;
}

